@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
body, html {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#TaskManager {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */