@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

body, html{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;;
}

#TaskManager{
    display: grid;
    align-items: center;
    height: 100vh;
}