<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoApp - A Django Todo App</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css" integrity="sha256-FAOaXTpl90/K8cXmSdsskbQN3nKYulhCpPbcFzGTWKI=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container" id="TaskManager">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="card">
                    <div class="card-header text-white bg-dark text-center">
                        <h1 class="text-uppercase">TodoApp</h1>
                        <h6 class="text-uppercase">A Django Todo App</h6>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <input type="text" id="description" class="form-control form-control-lg" placeholder="What do you need to do?" name="description" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select id="category" class="form-control form-control-lg" name="category_select">
                                            <option class="disabled" value="">Choose a category</option>
                                            {% for category in categories %}
                                                <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label for="dueDate">Due Date</label>
                                    <div class="input-group date">
                                        <input type="text" id="dueDate" class="form-control form-control-lg" name="date">
                                        <div class="input-group-append"><span class="input-group-text"><i class="fas fa-calendar-alt"></i></span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-lg btn-info" name="taskAdd" type="submit"><i class="fas fa-plus pr-2"></i>Add Task</button>
                                    <button class="btn btn-lg btn-danger" name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="far fa-trash-alt pr-2"></i>Delete Tasks</button>
                                </div>
                            </div>

                            <ul class="list-unstyled pt-5">
                                {% for todo in todos %}
                                    <li>
                                        <div class="custom-control custom-checkbox mr-sm-2 pb-2">
                                            <input type="checkbox" class="custom-control-input" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}">
                                            <label class="custom-control-label pr-5 h5" for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                                            <span class="category-{{ todo.category }} badge badge-secondary px-3 py-1">{{ todo.category }}</span>
                                        </div>
                                        
                                        <p class="text-muted">
                                            <i class="far fa-calendar-alt pr-2"></i> <small>{{ todo.created }} - {{ todo.due_date }}</small>
                                        </p>
                                        <hr>
                                    </li>
                                {% endfor %}
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>